<h2>Mes projets</h2>
<ul>
  {% for project in listProjects %}
    <li> {{ project.title }} 
    </br> Ce projet a été créé le {{ project.date|date('Y-m-d') }}
    </br> Ce projet se termine le {{ project.dateFin|date('Y-m-d') }}
    </br> Somme demandée : {{ project.sommeDemandee }}€
    </br> Somme reçue : {{ project.sommeRecue }}€
    </br><a href="{{ path('edit_project', {'id': project.id}) }}">Editer</a>   <a href="{{ path('view_project', {'id': project.id}) }}">Voir le projet</a>
    </li>
  {% endfor %}
</ul>